<header class="header">
  <div class="container">
    <a href="" class="logo">
      <span class="logo-bracket">&lt;</span>
      <span class="logo-name">YourName</span>
      <span class="logo-bracket">/&gt;</span>
    </a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
      <span class="navicon"></span>
    </label>
    <nav class="menu">
      <ul>
        <a class="nav-link" routerLink="/skills" routerLinkActive="active"><i class="fas fa-cogs"></i> <span>Skills</span></a>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#experience">Experiences</a></li>
        <li><a href="#contact">Contact Me</a></li>
      </ul>
    </nav>
  </div>
</header>
