<header class="header">
  <div class="container">
    <a href="" class="logo">
      <span class="logo-bracket">&lt;</span>
      <span class="logo-name">Minnu</span>
      <span class="logo-bracket">/&gt;</span>
    </a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
      <span class="navicon"></span>
    </label>
    <nav class="menu">
      <ul>
        <a class="nav-link" routerLink="/" routerLinkActive="active" aria-current="page">
          <i class="fas fa-home"></i>
          <span>Home</span>
        </a>
        <a class="nav-link" routerLink="/about" routerLinkActive="active">
          <i class="fas fa-user"></i>
          <span>About</span>
        </a>
        <a class="nav-link" routerLink="/projects" routerLinkActive="active">
          <i class="fas fa-project-diagram"></i>
          <span>Projects</span>
        </a>
        <a class="nav-link" routerLink="/skills" routerLinkActive="active">
          <i class="fas fa-cogs"></i>
          <span>Skills</span>
        </a>
        <a class="nav-link" routerLink="/resume" routerLinkActive="active">
          <i class="fas fa-file-alt"></i>
          <span>Resume</span>
        </a>
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">
          <i class="fas fa-envelope"></i>
          <span>Contact</span>
        </a>
      </ul>
    </nav>
  </div>
</header>
