<section class="about">
  <div class="container">
    <div class="about-content">
      <div class="about-text">
        <h2>About Me</h2>
        <p>
          Hello! I’m Minnu, a passionate software developer specializing in
          creating dynamic and responsive web applications. With a background
          in Computer Science and Engineering, I have hands-on experience in
          modern technologies like React, Angular, Java, and Spring Boot.
        </p>
        <p>
          My journey in the tech world has been driven by a love for problem-solving
          and a desire to create impactful solutions. I enjoy working on projects that
          challenge me and push the boundaries of what's possible. Whether it's
          developing a complex web app or exploring quantum computing, I'm always
          eager to learn and grow.
        </p>
        <p>
          When I'm not coding, you might find me exploring new tech trends, working
          on personal projects, or spending time with family and friends. Feel free
          to get in touch to discuss potential collaborations or just to connect!
        </p>
      </div>
      <div class="about-image">
        <img src="../../assets/images/minnukota381.JPG" alt="Minnu">
      </div>
    </div>
  </div>
</section>
