<section class="projects">
  <div class="container">
    <h2 class="text-center">My Projects</h2>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <img src="assets/project1.jpg" alt="Project 1">
          <div class="card-body">
            <h5 class="card-title">Project 1</h5>
            <p class="card-text">Brief description of Project 1.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <img src="assets/project2.jpg" alt="Project 2">
          <div class="card-body">
            <h5 class="card-title">Project 2</h5>
            <p class="card-text">Brief description of Project 2.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <img src="assets/project3.jpg" alt="Project 3">
          <div class="card-body">
            <h5 class="card-title">Project 3</h5>
            <p class="card-text">Brief description of Project 3.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <img src="assets/project4.jpg" alt="Project 4">
          <div class="card-body">
            <h5 class="card-title">Project 4</h5>
            <p class="card-text">Brief description of Project 4.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <img src="assets/project5.jpg" alt="Project 5">
          <div class="card-body">
            <h5 class="card-title">Project 5</h5>
            <p class="card-text">Brief description of Project 5.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <img src="assets/project6.jpg" alt="Project 6">
          <div class="card-body">
            <h5 class="card-title">Project 6</h5>
            <p class="card-text">Brief description of Project 6.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
