<section class="skills">
  <div class="container">
    <h2 class="text-center">My Skills</h2>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="skill">
          <i class="fab fa-java"></i>
          <p>Java</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="skill">
          <i class="fab fa-angular"></i>
          <p>Angular</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="skill">
          <i class="fab fa-react"></i>
          <p>React</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="skill">
          <i class="fab fa-spring"></i>
          <p>Spring Boot</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="skill">
          <i class="fab fa-js"></i>
          <p>JavaScript</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="skill">
          <i class="fas fa-database"></i>
          <p>SQL</p>
        </div>
      </div>
    </div>
  </div>
</section>
