@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900|Oswald:wght@200..700&display=swap');

:root {
  --primary-color: rgb(20, 0, 48);
  --accent-color: #ffcc00;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: var(--primary-color);
  color: var(--accent-color);
  margin: 0;
  padding: 0;
}
