.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .profile-image {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 20px;

      img {
          width: 100%;
          height: auto;
      }
  }

  .profile-name {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      color: #333;
  }
}
